@import 'variables';
@import './app';
@import '_navbar';
@import '_buttons';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap';

body {
  background-color: $favColor;
  font-family: 'Playfair Display', serif;
}

.Auth {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  border: 20px solid #BBDEFB;
  border-radius: 10px;
  background-color: white;
  padding: 100px 50px;
  width: 400px;
}
